{% extends "base.html" %}

{% block title %} Comment {% endblock %}

{% block content %}
        
                <h2>{{ r.name }}的評價</h2>
                {% if r.comment_set.all %}
                <p>目前共有{{ r.comment_set.all|length }}條評價</p>
                <table class="table table-hover">
                    <tr>
                        <th>vote</th>
                        <th>id</th>
                        <th>留言者</th>
                        <th>時間</th>
                        <th>評價</th>
                    </tr>
                    {% for c in r.comment_set.all %}
                    <tr>
                        <td> {{ c.get_total_votes }} </td>
                        <td> {{ c.id }} </td>
                        <td> {{ c.visitor }} </td>
                        <td> {{ c.date_time | date:"F j, Y" }} </td>
                        <td> {{ c.content }} </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>無評價</p>
                {% endif %}

                <br /><br />
                
                {% for e in errors %}
                    <p style="color:red;">{{ e }}</p>
                {% endfor %}

<!--
                {% if form.errors %}
                    <p style="color:red;">
                        請依提示修復表單錯誤
                    </p>
                {% endif %}
-->

                <form action="" method="post" class="form-horizontal" role="form" style="width:25%;margin:auto;text-align:left">{% csrf_token %}
                    <table>
                        <tr>
                            <th style="text-align:left"><label for="id_visitor">留言者：</label></th>
                        </tr>
                        <tr>
                            <td>{{ form.visitor }}</td>
                        </tr>
                        <tr>
                            <td style="color:red;">{{ form.visitor.errors }}</td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <th style="text-align:left"><label for="id_email">電子信箱：</label></th>
                        </tr>
                        <tr>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td style="color:red;">{{ form.email.errors }}</td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <th style="text-align:left"><label for="id_content">評價：</label></th>
                        </tr>
                        <tr>
                            <td>{{ form.content }}</td>
<!--
                        </tr>
                        <tr>
-->
                            <td style="color:red;">{{ form.content.errors }}</td>
                        </tr>
                        <tr>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td><input type="submit" style="display: block;margin: auto" value="給予評價" class="btn btn-default"></td>
                        </tr>
                    </table>
                </form>
        <!-- .votebuttons -->
        {% load staticfiles %}
        <img style="display:none" src="{% static 'vote/vote-down-off.png' %}"/>
        <img style="display:none" src="{% static 'vote/vote-down-on.png' %}"/>
        <img style="display:none" src="{% static 'vote/vote-up-off.png' %}"/>
        <img style="display:none" src="{% static 'vote/vote-up-on.png' %}"/>
        
        <div class="vote-buttons">
        <p>
        {% ifequal thisUserUpVote 0 %}
            <img class="vote-up" src="{% static 'vote/vote-up-off.png' %}" title="Vote this thread UP. (click again to undo)" />
        {% else %}
            <img class="vote-up selected" src="{% static 'vote/vote-up-on.png' %}" title="Vote this thread UP. (click again to undo)" />
        {% endifequal %}
        </p>
        
        <div class="vote-tally">
            <span class="num">{{ num_votes }}</span>
        </div>
        
        <p>
        {% ifequal thisUserDownVote 0 %}
            <img class="vote-down" src = "{% static 'vote/vote-down-off.png' %}" title="Vote this thread DOWN if it is innapropriate or incorrect. (click again to undo)" />
        {% else %}
            <img class="vote-down selected" src = "{% static 'vote/vote-down-on.png' %}" title="Vote this thread DOWN if it is innapropriate or incorrect. (click again to undo)" />
        {% endifequal %}
        </p>
        </div> 
        <!-- .votebuttons -->
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>    
    $(document).ready(function() {
        var $csrfToken = $('input[name="csrfmiddlewaretoken"]');
        var token = $csrfToken.val();

        function isInt(value) {
            var x;
            return isNaN(value) ? !1 : (x = parseFloat(value), (0 | x) === x);
        }


        $('div.vote-buttons img.vote-up').click(function() {
            if (!$('div.vote-buttons img.vote-down').hasClass('selected')) {

    //            {{thread.id}}
                var id = 23;//23,29,30
                var vote_type = 'up';

                if ($(this).hasClass('selected')) {

                    var vote_action = 'recall-vote'
                    $.post('/vote/', {id:id, type:vote_type, action:vote_action, csrfmiddlewaretoken: token});

                    $('img.vote-up').removeAttr('src')
                        .attr('src', '{% static 'vote/vote-up-off.png' %}')
                        .removeClass('selected');
        //            $('div.vote-tally span.num').html(response);
                    var $num = $('div.vote-tally span.num');
                    var num = parseInt($num.text(), 10);
                    $num.html(num - 1);

                } else {

                    var vote_action = 'vote'
                    $.post('/vote/', {id:id, type:vote_type, action:vote_action, csrfmiddlewaretoken: token}); 

                    $('img.vote-up').removeAttr('src')
                        .attr('src', '{% static 'vote/vote-up-on.png' %}')
                        .addClass('selected');

                    var $num = $('div.vote-tally span.num');
                    var num = parseInt($num.text(), 10);
                    $num.html(num + 1);

                }
            }
        });


        $('div.vote-buttons img.vote-down').click(function() {
            if (!$('div.vote-buttons img.vote-up').hasClass('selected')) {
                var id = 23;//23,29,30
                var vote_type = 'down';

                if ($(this).hasClass('selected')) {

                    var vote_action = 'recall-vote'
                    $.post('/vote/', {id:id, type:vote_type, action:vote_action, csrfmiddlewaretoken: token});

                    $('img.vote-down').removeAttr('src')
                        .attr('src', '{% static 'vote/vote-down-off.png' %}')
                        .removeClass('selected');
        //            $('div.vote-tally span.num').html(response);
                    var $num = $('div.vote-tally span.num');
                    var num = parseInt($num.text(), 10);
                    $num.html(num + 1);

                } else {

                    var vote_action = 'vote'
                    $.post('/vote/', {id:id, type:vote_type, action:vote_action, csrfmiddlewaretoken: token}); 

                    $('img.vote-down').removeAttr('src')
                        .attr('src', '{% static 'vote/vote-down-on.png' %}')
                        .addClass('selected');

                    var $num = $('div.vote-tally span.num');
                    var num = parseInt($num.text(), 10);
                    $num.html(num - 1);

                }
            }
        });

        alert('Did end execute?');

    });
</script>
{% endblock %}