{% extends 'base.html' %}

{% block title %} 使用者列表 {% endblock %}

{% block content %}
    <h2>使用者列表</h2>
    <br>
    <table class="table table-hover" style="text-align:center">
        <tr>
            <th>使用者帳號</th>
<!--            <th>使用者Email</th>-->
            <th>使用者上次登入時間</th>
        </tr>
        {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
<!--                <td>{{u.email}}</td>-->
                <td>{{u.last_login}}</td>
<!--                <td>{{u.is_staff}}</td>-->
<!--                <td>{{ u.last_name }}{{ u.first_name }}</td>-->
<!--                <td>{{u.password}}</td>-->
<!--                <td>{{u.groups}}</td>-->
<!--                <td>{{u.user_permissions}}</td>-->
<!--                <td>{{u.date_joined}}</td>     -->
            </tr>
        {% endfor %}
    </table>
{% endblock %}